.cross-button {
    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: $color-light;
        top: 32px;
        right: 0;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}