.discuss {
    &__wrapper {
        background-color: $color-light;
        padding: 88px;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 59px 124px rgba(0, 0, 0, 0.12);
        border-radius: 15px;

        @include desktop-s {
            flex-direction: column;
            align-items: center;
        }

        @include tablet {
            padding: 50px;
        }

        @include mobile {
            padding: $mobile-padding;
            padding-top: $mobile-section-padding;
        }
    }

    &__info {
        max-width: 481px;

        @include desktop-s {
            max-width: initial;
            @include flex-center;
            flex-direction: column;
        }

        &-title {
            font-weight: 600;
            font-size: 38px;
            line-height: 50px;
            color: $color-gray-900;
            margin-bottom: 16px;

            @include tablet {
                @include tablet-title;
                margin-bottom: $tablet-title-margin;
                text-align: center;
            }

            @include mobile {
                @include mobile-title;
                margin-bottom: 0px;
            }
        }

        &-description {
            color: $color-gray-400;

            @include desktop-s {
                max-width: 560px;
                margin-bottom: 40px;
                text-align: center;
            }

            @include tablet {
                margin-bottom: $tablet-description-margin;
            }

            @include mobile {
                margin-block: $mobile-description-margin;
            }
        }

        &-contact-cards {
            margin-block: 35px;

            @include desktop-s {
                @include flex-center;
                justify-content: space-between;
                margin: 0px -10px 15px -10px;
            }

            @include tablet {
                flex-direction: column;
                align-items: start;
            }
        }

        &-socia1s-wrapper {
            margin-inline: auto;
        }
    }

    &__form {
        max-width: 560px;
        @include flex-center;

        @include desktop-s {
            margin-top: 70px;
        }

        @include tablet {
            margin-top: 50px;
        }

        &-description {
            color: $color-gray-400;

            @include desktop-s {
                text-align: center;
            }
        }

        &-fields {
            margin-block: 26px 50px;

            @include mobile {
                margin-top: $mobile-margin;
            }
        }
    }
}
