.mobile-menu {
    position: fixed;
    width: 100%;
    margin-inline: auto;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    background-color: $color-dark;
    box-shadow: 0px 0px 0px 20px $color-dark;
    top: -408px;

    &__list {
        @include flex-center;
        height: 300px;
        padding-block: 20px;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__link {
        color: $color-light;
        text-transform: uppercase;
        font-size: 16px;
        padding: 12px 24px;
    }

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.0);
        animation: blur-on $transition-duration forwards;
    }
}
