.service-type {
    max-width: 648px;
    min-height: 176px;
    overflow: auto;
    padding: 32px;
    background-color: $color-light;
    border-radius: $border-radius;
    margin-bottom: 24px;
    transition: box-shadow $transition-duration;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 5px;
        height: 100%;
        background-color: $color-accent;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity $transition-duration;
    }

    &:last-child {
        margin-bottom: 0px;
    }
    
    @include hover {
        box-shadow: 0px 32px 96px rgba(28, 25, 25, 0.16);

        &::before {
            opacity: 1;
        }

    }

    &__title {
        color: $color-gray-900;
        font-weight: 600;
        margin-bottom: 16px;
        font-size: 24px;

        @include mobile {
            font-size: 20px;
        }
    }

    &__description {
        color: $color-gray-700;
        font-size: 16px;
    }
}
