$desktop-above: 1920px;
$desktop: 1919px;

$desktop-m-above: 1366px;
$desktop-m: 1365px;

$desktop-s-above: 1280px;
$desktop-s: 1279px;

$tablet-above: 1024px;
$tablet: 1023px;

$mobile-above: 768px;
$mobile: 767px;

@mixin desktop-m-above {
    @media (min-width: $desktop-m-above) {
        @content;
    }
}

@mixin desktop-m {
    @media (max-width: $desktop-m) {
        @content;
    }
}

@mixin desktop-s-above {
    @media (min-width: $desktop-s-above) {
        @content;
    }
}

@mixin desktop-s {
    @media (max-width: $desktop-s) {
        @content;
    }
}

@mixin tablet-above {
    @media (min-width: $tablet-above) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin mobile-above {
    @media (min-width: $mobile-above) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}
