@mixin fluid-text($max, $min) {
    font-size: clamp(#{$min}px, #{calc($max / 1920) * 100%}vw, #{$max}px);
}

@mixin reset-link {
    color: inherit;

    &,
    &:hover {
        text-decoration: none;
    }
}

@mixin reset-button {
    padding: 0;
    background-color: transparent;
    border: none;
}

@mixin flex-center($isInline: false) {
    @if $isInline {
        display: inline-flex;
    } @else {
        display: flex;
    }

    justify-content: center;
    align-items: center;
}

@mixin place-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50%, -50%;
}

@mixin square($size) {
    width: $size;
    aspect-ratio: 1;
}

@mixin desktop-title {
    color: $color-gray-900;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
}

@mixin tablet-title {
    font-size: 38px;
    line-height: 50px;
    font-weight: 600;
}

@mixin mobile-title {
    font-size: 32px;
    line-height: 46px;
    font-weight: 500;
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }
    @media (hover: none) {
        &:active {
            @content;
        }
    }
}

@mixin text-highlighter($color: #ffc8c8, $width: 0%) {
    &::before {
        content: '';
        position: absolute;
        width: $width;
        height: 6px;
        background-color: $color;
        bottom: 4px;
        left: 7px;
        z-index: -1;
        transition: width $transition-duration;
    }
}

@mixin nav-highlighter($color: #ffc8c8) {
    @include hover {
        & span::before {
            width: 100%;
        }
    }

    & span {
        position: relative;
        z-index: 0;
        
        @include text-highlighter($color);
    }
}
