.container {
    max-width: calc($container-width + $container-padding-x * 2);
    margin-inline: auto;
    padding-inline: $container-padding-x;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hidden-desktop-s {
    @include desktop-s {
        display: none;
    }
}

.visible-desktop-s {
    @include desktop-s-above {
        display: none;
    }
}

.hidden-tablet {
    @include tablet {
        display: none;
    }
}

.visible-tablet {
    @include tablet-above {
        display: none;
    }
}

.hidden-mobile {
    @include mobile {
        display: none;
    }
}

.visible-mobile {
    @include mobile-above {
        display: none;
    }
}

.scroll-lock {
    overflow: hidden;
}